<!-- Footer -->
<footer id="footer" style="width: 100%; padding: 10px 5%; background-color: #FD3766;">
    <div class="row" style="color: #fff; font-weight: 300; font-size:18px; line-height: 30px;">
        <div class="col">
            <a href="">Política de Privacidad</a><br>
            <a href="">Términos y Condiciones</a><br>
            <spans>© Copyright 2021</spans>
        </div>
        <div class="col" style="padding-left: 40%;">
            <a href="">Derechos de las personas usuarias de los servicios de salud</a><br>
            <a href="">Consentimiento de Datos Personales</a><br>
        </div>
    </div>
</footer>