<div class="header-of navbar-light bg-light">
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="./">
          <img class="img-fluid w-3 h-3" src="https://i.ibb.co/nnhkk3H/Logo.png" alt="Logo de la empresa">
        </a>
        <div>
          <span class="user-bt me-4">Usuario</span>
          <a href="/logout"><span>Cerrar Sesión</span></a>
        </div>
      </div>
    </nav>
  </div>
</div>