@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
:root {
  --primary-color: #455a72;
  --primary-color-light: #FFABAB;
  --secondary-color: #F95858;
  --secondary-color-light: #6fc0ef;
  --background: linear-gradient(0deg, rgba(234, 157, 175, 0.26) 23.6%, #F9557C 97.1%);
  --primary-font-family: 'Comic Neue', cursive;
  --second-font-family: 'Comic Neue', cursive;
}
* {
  font-family: 'Comic Neue', cursive;
}
html {
  scroll-padding-top: 4.5rem;
  font-size: 62.5%;
}

body {
  position: relative;
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

.page-section {
  padding: 9.6rem 0;
}
.page-section h2.section-heading,
.page-section .section-heading h2 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}
.page-section h3.section-subheading,
.page-section .section-subheading h3 {
  font-size: 2.7rem;
  font-weight: 400;
  font-family: var(--primary-font-family);
  margin-bottom: 4rem;
}

.btn-xl {
  padding: 2rem 4rem;
  font-family: var(--second-font-family);
  font-size: 1.125rem;
  font-weight: 700;
}

#mainNav {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
#mainNav .navbar-toggler {
  color: #fff;
  border-radius: 5px;
  border-color: var(--primary-color-light);
}
#mainNav .navbar-brand {
  display: flex;
  align-items: center;
  color: #FFABAB;
  font-family: var(--second-font-family);
  font-weight: bold;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  font-family: 'Arial Rounded MT';
  font-size: 2.4rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #0f5d74;
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: var(--primary-font-family);
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: var(--second-font-family);
}

/* Estilos Servicios */
#services,
#services p {
  color: #fff;
  font-size: 2.5rem;
  font-weight: lighter;
}
#services h4 {
  font-size: 3rem;
  font-weight: 600;
}

/* Fin estilos Servicios */

/* Estilos Contactos */
section#contact {
  color: #455a72;
}
section#contact form#contactForm input,
section#contact form textarea {
  font-size: 2rem;
  color: #000000;
  border: 2px solid #F95858;
  border-radius: 18px;
  background-color: #F4A5B8;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}

section#contact form#contactForm .btn {
  background-color: #F9557C;
  border-radius: 38px;
}

section#contact form#contactForm .form-control:focus {
  border-color: #FFABAB;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: var(--primary-font-family);
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: var(--second-font-family);
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: var(--second-font-family);
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: var(--second-font-family);
  font-weight: 700;
  color: #ced4da;
}
/* Fin estilos Contactos */

/*Estilos Footer */
.info-container {
  width: 100%;
  background-color: #003282;
  color: #ffffff;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
}
.info-container .col {
  padding-left: 10%;
}
/* Fin estilos footer*/

/* Estilos nuevos */
.main-container {
  position: relative;
  padding-top: 200px;
  margin-bottom: 140px;
}

.main-title {
  width: 100%;
  text-align: center;
}
.main-title {
  font-size: 4.8rem;
}
.main-title h1 {
  font-size: inherit;
  color: #F95858;
  line-height: 34px;
  margin-top: 100px;
  font-weight: bold;
}
.main-title h2 {
  font-size: inherit;
  color: #aaaaaa;
  line-height: 34px;
  margin-top: 55px;
  font-weight: bold;
}

.main-container p {
  color: #455a72;
  font-size: 2.8rem;
}
.main-container .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-container .btn {
  width: 250px;
  height: 75px;
  border-radius: 38px;
}
.btn-register,
.btn-more {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
}
.btn-register {
  background-color: #F95858;
}
.btn-more {
  color: #000000;
  background-color: #FFABAB;
}
/*Servicios*/
.service-container {
  background-image: url('https://i.ibb.co/Wtmqwnf/Path-176.png');
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-size: 125% 100%;
}

/* Break points*/
@media (min-width: 768px) {
  section {
     padding: 12rem 0;
  }
}

@media (max-width: 768px) {
  #mainNav {
     background: var(--background);
  }
  #mainNav .navbar-brand img {
     height: 3.5rem;
  }
  #services {
     background-image: none;
     background-color: var(--secondary-color);
  }
  .main-container .btn-container {
     flex-direction: column;
  }
  .main-container .btn {
     margin: 25px auto;
  }
}

@media (min-width: 992px) {
  #mainNav {
     padding-top: 2.4rem;
     padding-bottom: 2.4rem;
     border: none;
     background: transparent;
     transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
     font-size: 2.4rem;
     transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
     height: 3rem;
     transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
     padding-top: 1.6rem;
     padding-bottom: 1.6rem;
     background: var(--background);
     font-size: 1.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
     height: 2.4rem;
  }
  #mainNav .navbar-nav .nav-item {
     margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
     margin-right: 0;
  }
  .main-container .main-fondo {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0%;
     left: 0%;
     z-index: -1;
     background-image: url('https://i.ibb.co/vQHW2t8/main-img.png');
     background-position-x: calc(50% + 250px);
     background-position-y: calc(0% - 50px);
     background-size: 45%;
     background-repeat: no-repeat;
  }
  .main-title {
     width: 100%;
  }
  .main-text {
     width: 100%;
     margin-left: 20px;
  }
  .main-container .btn-container {
     margin: 60px auto;
  }
}

#footer a {
  text-decoration: none;
  color: #fff;
}